---
import PolicyLayout from '../layouts/PolicyLayout.astro';
---

<PolicyLayout 
  title="Affiliate Disclosure - DealsHub India" 
  description="Affiliate Disclosure statement for DealsHub India explaining our use of affiliate links."
>
  <div class="glass-panel policy-body">
    <h1 class="policy-h1">Affiliate Disclosure</h1>
    
    <p>As per the FTC guidelines, we want to inform our readers that our website, along with its corresponding WhatsApp and Telegram group, may contain affiliate links. This means that if you click on these links and make a purchase, we may receive a small commission or other compensation from the affiliate company. However, the prices for these items remain the same whether you use an affiliate link or a non-affiliate link.</p>
    
    <p>DealsHub utilizes two types of affiliate programs: Amazon affiliate links and product affiliate links. As an affiliate, we are a participant in the Amazon Services LLC Associates Program, designed to provide a means for websites to earn fees by linking to Amazon.in and affiliated sites. We only recommend products that we use ourselves or believe are available at the best price.</p>
    
    <p>Currently, we do not publish sponsored posts; if we do in the future, we will make it clear at the beginning of the post. By purchasing through our affiliate links, you help support our research efforts, and we appreciate your support.</p>
    
    <div class="policy-footer-nav">
      <a href="/" class="policy-back-link">&larr; Back to Home</a>
    </div>
  </div>
</PolicyLayout>
